@charset "utf-8";

*{margin:0; padding:0; box-sizing:border-box;}
ul, li{list-style:none;}
a{text-decoration:none; color:inherit;}
img{vertical-align:top;}


body{width:100%; height:100%; overflow-x:hidden;}


/*---------------------------------- header ----------------------------------*/
header{width:100%; height:100px; position:fixed; top:0; background:#fff; border-bottom:2px solid #ddd; z-index:999;}
.header_wrap{width:970px; height:100px; margin:0 auto; position:relative; z-index:10;}
.header_wrap>div{position:relative; float:left;}

.logo{width:126px; height:100px;}
.logo a{width:126px; height:66px; position:relative; top: 17px;}

.menu{width:670px; height:100px; margin-left:35px;}
nav{width:100%; height:100px; position:relative;}
.m_menu{width:100%; height:100px; position:relative;}
.m_menu>li{float:left; width:auto; height:100px; text-align:center; position:relative;}
.m_menu>li>a{display:block; width:auto; height:100px; line-height:100px; font-size:20px; letter-spacing:-1.5px; font-weight:bold; padding:0px 34px;}

.s_menu{width:auto; height:105px; font-size:13px; margin-top:25px; display:none;}
.s_menu>li{width:auto; height:35px; line-height:35px; text-align:center;}
.s_menu>li>a{width:auto; height:auto;}

.menu_bg1{position:absolute; top:100px; width:100%; height:200px; background:#fff; overflow:hidden; display:none; z-index:9;}

.buy{width:139px; height:100px;}
.buy>a{display:block; width:110px; height:30px; font-size:15px; font-weight:bold; color:#fff; line-height:30px; border-radius:15px; background:darkgreen; text-align:center; margin:35px auto;}





/*---------------------------------- section ----------------------------------*/
section{position:relative; top:100px; width:100%; height:100%;}

/*-- 공통 --*/
.btn_tab>a{display:block; position:relative; width:300px; height:70px;  margin:0 auto; top:10px; font-size:23px; font-weight:bold; color:#444; line-height:70px; text-indent:30px;}
.btn_tab>a>span{display:inline-block; position:absolute; left:0; width:70px; height:70px; border-radius:50px; background:#E9A7AC; z-index:-1;}
.arrow_img{position:absolute; right:30px; top:0; bottom:0; margin:auto 0; width:19px; height:15px;}


/*-- sec1 --*/
.sec1{width:100%; height:100%; position:fixed; left:0; top:0; background:#fff;}

.new_wrap{position:fixed; top:0; width:100%; height:100%;}

.new_wrap>li{position:relative; width:45%; height:100%;}
.new_wrap>li>img{position:absolute; height:100%; right:0; top:50%; transform:translateY(-50%);}
.new1_bg{background:#575653;}
.new2_bg{background:#023c23;}
.new3_bg{background:#c0dc96;}
.new4_bg{background:#453f1f;}
.new5_bg{background:#24603f;}

.new_wrap2{position:fixed; width:1090px; height:560px; left:25%; top:50%; transform:translateY(-50%); overflow:hidden;}
.new_wrap2>li{display:none;}

.new_wrap2>li>div:nth-child(1){position:absolute; width:590px; height:560px; left:0; top:0;}
.new_wrap2>li>div:nth-child(2){position:absolute; width:500px; height:400px; right:0; top:0;}
.new_wrap2>li>div:nth-child(3){position:absolute; width:500px; height:160px; right:0; bottom:0;}
.new1_btn>a>span{background:#FCD053;}
.new2_btn>a>span{background:#F3A7A7;}
.new3_btn>a>span{background:#F3EC5F;}
.new4_btn>a>span{background:#EBC982;}
.new5_btn>a>span{background:#F48594;}

/*-- sec2 --*/
.sec2{width:100%; height:100%; position:fixed; left:100%; top:0; background:#fff;}

.event_wrap{position:fixed; top:0; width:100%; height:100%;}

.event_wrap>.event_bg{position:relative; width:45%; height:100%; background:#aba79f;}
.event_wrap>.event_bg>img{position:absolute; right:0; top:50%; transform:translateY(-50%);}

.event_wrap2{position:fixed; width:1090px; height:560px; top:50%; left:25%; transform:translateY(-50%); display:none;}

.event_pro{position:absolute; width:590px; height:560px; left:0; top:0;}
.event_txt{position:absolute; width:500px; height:400px; right:0; top:0;}
.event_btn{position:absolute; width:500px; height:160px; right:0; bottom:0;}
.event_btn>a>span{background:#EAA8AD;}

/*-- new, event 탭 --*/
.sec_tab{position:absolute; width:100%; height:100%;}
.sec_tab>ul>li{position:fixed; width:180px; height:30px; line-height:30px; transform:rotate(90deg); top:50%;}
.sec_tab>ul>li:first-child{border-bottom:#fff 2px solid; color:#fff;}
.sec_tab>ul>li:last-child{border-top:#444 2px solid; color:#444; right:0%;}
.sec_tab>ul>li>a{display:block;}

.sec_tab>ul>li:first-child.newon{font-weight:bold; border-bottom:4px solid;}
.sec_tab>ul>li:last-child.eventon{font-weight:bold; border-top:5px solid;}

.sec_tab>ul>li:first-child:hover{font-weight:bold; border-bottom:4px solid;}
.sec_tab>ul>li:last-child:hover{font-weight:bold; border-top:5px solid;}

/*-- num 탭 --*/
.num_tab{position:fixed; width:30px; height:270px; left:10%; top:50%; transform:translate(-50%,-50%); z-index:10;}
.num_tab>li{position:relative; width:30px; height:30px; font-size:23px; line-height:30px; text-align:center; margin-bottom:30px; font-weight:bold; color:#fff;}
.num_tab>li:last-child{margin-bottom:0;}
.num_tab>li>a{display:block; transition:all .5s;}

.num_tab>li:hover>a{color:#f4e62d; border-bottom:1px solid #f4e62d;}

.num_tab>li.bright{color:#f4e62d; border-bottom:1px solid #f4e62d;}




/*---------------------------------- footer ----------------------------------*/
footer{width:100%; height:160px; background:#333; position:fixed; bottom:0; z-index:99;}
.ft_wrap{width:1000px; height:160px; margin:0 auto; position:relative;}
.ft_wrap>div{float:left; position:absolute;}

.ft_menu{width:800px; height:80px;}
.ft_menu>ul{position:relative; top:40px; width:800px; height:20px;}
.ft_menu>ul>li{float:left; color:#fff; font-size:14px; letter-spacing:-1px; width:auto; margin-right:23px;}
.ft_menu>ul>li:nth-child(2){font-weight:bold; color:#f4e62d;}
.ft_menu>ul>li:last-child{margin-right:0px;}

.ft_text{width:800px; height:80px; bottom:0;}
.ft_text>p{height:23px; line-height:23px; color:#999; opacity:0.6; font-size:14px;}
.ft_text>p:first-child{letter-spacing:-0.5px;}
.ft_text>p:last-child{letter-spacing:0.5px;}

.ft_site{width:200px; height:160px; right:0;}
.ft_site>ul{position:relative; width:190px; height:40px; margin:30px auto 0 auto;}
.ft_site>ul>li{width:40px; height:40px; float:left; margin-right:10px;}
.ft_site>ul>li>a{width:40px; height:40px;}
.ft_site>ul>li>a>img{width:100%; height:100%;}
.ft_site>ul>li:last-child{margin-right:0px;}
.ft_site>select{position:relative; width:180px; height:30px; top:15px; display:block; margin:0 auto;}





